header(class="bg-blue-600 w-full h-12 text-white shadow-md hidden sm:block")
      .container.mx-auto.px-6.py-4
        .flex.items-center.justify-between
          .logo
            h1(class="text-2xl font-semibold tracking-tight") Modern Header
          nav
            ul(class="flex space-x-4")
              li
                a(href="#" class="hover:underline") Home
              li
                a(href="#" class="hover:underline") About
              li
                a(href="#" class="hover:underline") Services
              li
                a(href="#" class="hover:underline") Contact