doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='/styles.css' rel='stylesheet')
    script(src="https://unpkg.com/htmx.org")

body
    div(class="bg-blue-600 box-border h-32 w-8 p-4 border-4") s