doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='/styles.css' rel='stylesheet')
    script(src="https://unpkg.com/htmx.org")

body(class="bg-gray-100 h-screen flex justify-center items-center")

    .login-container.bg-white.p-8.rounded-lg.shadow-md.w-96
      h1.text-2xl.font-semibold.mb-4 Login
      form(hx-post="/login")
        .form-group.mb-4
          label(for="username" class="block text-sm font-medium text-gray-600 mb-2") Username
          input#username(type="text" name="username" class="mt-1 p-2 w-full border rounded-md" required)
        
        .form-group.mb-4
          label(for="password" class="block text-sm font-medium text-gray-600 mb-2") Password
          input#password(type="password" name="password" class="mt-1 mb-4 p-2 w-full border rounded-md" required)

        button(type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50") Sign in