
div(class="w-full sm:hidden")
  button(id="sidebarToggle" class="p-4 focus:outline-none sm:hidden", onclick="toggleSidebar()") <

div(class="p-6 flex-grow overflow-y-auto")
    div(class="flex flex-col space-y-8")
      div(class="flex justify-end")
        div(class="bg-blue-500 text-white max-w-md rounded-bl-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum sender message...
      
      //- Receiver messages (aligned to the left)
      div(class="flex")
        div(class="bg-gray-500 text-white max-w-md rounded-br-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum receiver message...

      div(class="flex justify-end")
        div(class="bg-blue-500 text-white max-w-md rounded-bl-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum sender message...
      
      //- Receiver messages (aligned to the left)
      div(class="flex")
        div(class="bg-gray-500 text-white max-w-md rounded-br-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum receiver message...    
      div(class="flex flex-col space-y-8 ")
      //- Sender messages (aligned to the right)
      div(class="flex justify-end")
        div(class="bg-blue-500 text-white max-w-md rounded-bl-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum sender message...
      
      //- Receiver messages (aligned to the left)
      div(class="flex")
        div(class="bg-gray-500 text-white max-w-md rounded-br-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum receiver message...

      div(class="flex justify-end")
        div(class="bg-blue-500 text-white max-w-md rounded-bl-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum sender message...
      
      //- Receiver messages (aligned to the left)
      div(class="flex")
        div(class="bg-gray-500 text-white max-w-md rounded-br-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum receiver message...    

      div(class="flex flex-col space-y-8 ")
      //- Sender messages (aligned to the right)
      div(class="flex justify-end")
        div(class="bg-blue-500 text-white max-w-md rounded-bl-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum sender message...
      
      //- Receiver messages (aligned to the left)
      div(class="flex")
        div(class="bg-gray-500 text-white max-w-md rounded-br-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum receiver message...

      div(class="flex justify-end")
        div(class="bg-blue-500 text-white max-w-md rounded-bl-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum sender message...
      
      //- Receiver messages (aligned to the left)
      div(class="flex")
        div(class="bg-gray-500 text-white max-w-md rounded-br-lg rounded-tl-lg rounded-tr-lg p-3")
          p Lorem ipsum receiver message...         


form#messageForm(ws-send)
  div(class="p-4.bg-gray-300.border-t.border-gray-400.flex-shrink-0.sm:position:relativ.bottom-0")
    div.flex.items-center.w-full
      input(class="w-full.p-2.rounded-l-lg.border-2.border-gray-400.focus:outline-none" name="message", type="text", placeholder="Type a message...", hx-post="URL_TO_HANDLE_MESSAGE", hx-target="#messageContainer")
      button(class="bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded-r-lg") Send


    